h1{
    text-align: center;
    color: rgb(0, 132, 255)
}
.shop-container{
    display: flex;
      
}


.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:45px;
    margin: 100px 50px;
}

.cart-container{
    margin-top: 100px;
    width:250px;
    height: 500px;
    background-color:rgb(1, 167, 233);
    border: 1px solid gray;
}
.title{
    text-align: center;
}

@media screen and (max-width:688px) {
    .shop-container{
        display: block;
    }
    .product-container{
        grid-template-columns: repeat(1,1fr);
    }
    
}