.product img{
    width: 300px;
    height: 300px;
}

.product{
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position:relative;
    width: 300px;
    height: 550px;
    
}

.product-info{
  
    margin: 0 14px;
    font-size: 18px;
    font-family: 'Lato';
    font-style: normal;
    
}

.product-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.btn-cart{
    
    width:100%;
    background: rgb(1, 167, 233);
    border: none;
    position: absolute;
    bottom:0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cart:hover{
    background-color: rgb(0, 132, 255);
}
